#body,html{width: 100%; height: 100%; }
header{width: 100; height: 99px; background-color: #FF9DC5;}

#header{margin: 0px 34px;}
header #h1{width: 100; height: 37px; }
header #h1_1{ width: 150px; height: 37px; float: left; padding: 5px;}
header #h1_1 a{text-decoration: none; color: #FFFFFF; }
header #h1_2{ width: 100px; height: 37px;  float: right;} 
header #h1_2 button{color: #FFFFFF; background-color: #FF9DC5; margin-top: 10px;} 

header #h2{width: 100; height: 62px; }
header #h2_1{ width: 500px; height: 42px;  float: left; margin-top: 10px;}
header #h2_1 img{ width: 42px; height: 42px; border-radius:42px}
header #h2_1 a{color: #FFFFFF; font-weight: bold;}
header #h2_2{ width: 130px; height: 34px;  float: right; margin-top: 15px; margin-right: 130px;} 
header #h2_2 #serect input{ width: 230px; height: 34px; background-color: white; border-radius:34px; margin-left: 10px; padding-left: 10px;} 

div#profile{width: 100; height: 150px; margin: 0px 34px; padding: 36px 0px; background-color: white;}

nav{width: 100; height: 72px; padding: 20px 0px; border: 1px solid #EAEAEA; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
nav ul{list-style: none; text-align: center; }
nav ul li{ display: inline; letter-spacing: .3em; margin-left: 2em; }
nav ul li a{text-decoration: none; color: black;}


footer{ width: 80%; height: 50%;  margin-bottom: 50px; margin-left: 50px;  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
.footerleft div{ height: 28px; margin-bottom: 10px; display: inline-block; color: #888888; margin-right: 30px;}
footer ul{list-style: none; text-align: left;}
footer ul li{ display: inline; letter-spacing: .3em; margin-left: 0.5px;}
footer ul li a{text-decoration: none; color: black; font-size: small;}
.vl {border-left: 1px solid black; height: 10px; display: inline-block;}


/* 반응형 웹을 위한 미디어쿼리 적용 */
            /*320px이상 : smart phone- potrait 모드*/
            @media all and (min-width:320px){
                header{width: 100; height: 150px; background-color: #FF9DC5;}
                nav{width: 100; height: 130px; padding: 20px 0px; border: 1px solid #EAEAEA;}


            }

            /* 600px이상 : smart phone-landscape  or  tablet */
            @media all and (min-width: 600px){
                nav{width: 100; height: 100px; padding: 20px 0px; border: 1px solid #EAEAEA;}


            }

            /* 800px이상 : desktop monitor */
            @media all and (min-width: 800px){
                nav{width: 100; height: 72px; padding: 20px 0px; border: 1px solid #EAEAEA;}


            }


/* #body,html{width: 100%; height: 100%; background-color: red;}
header{width: 100; height: 99px; background-color: orange;}

#header{margin: 0px 34px; background-color: teal;}
header #h1{width: 100; height: 37px; background-color: black;}
header #h1_1{ width: 150px; height: 37px; background-color: thistle; float: left; padding: 5px;}
header #h1_1 a{text-decoration: none; color: #FFFFFF; }
header #h1_2{ width: 150px; height: 37px; background-color: thistle; float: right;} 
header #h1_2 button{color: #FFFFFF; background-color: #FF9DC5;} 

header #h2{width: 100; height: 62px; background-color: teal;}
header #h2_1{ width: 500px; height: 42px; background-color: tomato; float: left; margin-top: 10px;}
header #h2_1 img{ width: 42px; height: 42px; border-radius:42px}
header #h2_1 a{color: #FFFFFF; font-weight: bold;}
header #h2_2{ width: 130px; height: 34px; background-color: tomato; float: right; margin-top: 15px; margin-right: 150px;} 
header #h2_2 #serect input{ width: 230px; height: 34px; background-color: white; border-radius:34px; margin-left: 10px; padding-left: 10px;} 

div#profile{width: 100; height: 150px; margin: 0px 34px; padding: 36px 0px; background-color: violet;}

nav{width: 100; height: 72px; background-color: yellowgreen; padding: 20px 0px; border: 1px solid #EAEAEA;}
nav ul{list-style: none; text-align: center; background-color: rebeccapurple;}
nav ul li{ display: inline; letter-spacing: .3em; margin-left: 2em; background-color: purple;}
nav ul li a{text-decoration: none; color: black;}


footer{width: 100; height: 50%; background-color: lightblue; margin-bottom: 50px; margin-left: 50px; }
.footerleft div{width: 30%; height: 28px; background-color: orangered; margin-bottom: 10px; display: inline-block; color: #888888;}
footer ul{list-style: none; text-align: left; background-color: rebeccapurple;}
footer ul li{ display: inline; letter-spacing: .3em; margin-left: 0.5px; background-color: purple;}
footer ul li a{text-decoration: none; color: black;} */


