/* 전체화면 */
#mainbody{width: 100%; height: 100%;}

/* 슬라이드뷰1 */
#promotionimg{width: 100; height: 400px;}

/* 전체화면2 */
#inmain{width: 100; height: 2000px; margin: 0px 50px;}

/* 블레스문 스토어 고객님을 위한 혜택 */
#inmain #text_egflick{width: 100; height: 35px; }

/* 슬라이드뷰2 */
#inmain #egflick{width: 100; height: 64px; }

/* 주간베스트, 상품전체 */
#inmain .text1{width: 100; height: 62px; }

/* 상품 4개  */
#inmain #product4{width: 100;  }
#inmain #product4 #wrap div a p{text-align: left;}

#wrap div{
    width: 328px;
    display: inline-block;
    margin: 0px 23px;
}

#wrap div:first-child{}
#wrap div:nth-child(2){ }
#wrap div:nth-child(3){}
#wrap div:last-child{ }

.bord{text-decoration: none; color: black; float: left; font-size: x-large; width: 100%; font-weight: bold;}
.bordprice{text-decoration: none; color: black;  float: left; font-size: x-large; font-weight: bold;}

.gray{text-decoration: none; color: #888888;  float: left; font-size: medium;}
.grayprice{text-decoration: none; color: #888888;  float: left; font-size: medium; padding-top: 10px;}


             /* 반응형 웹을 위한 미디어쿼리 적용 */
            /*320px이상 : smart phone- potrait 모드*/
            @media all and (min-width:320px){
                #wrap div{width: 100%;}
                #promotionimg{width: 100; height: 130px;}

            }

            /* 600px이상 : smart phone-landscape  or  tablet */
            @media all and (min-width: 600px){
                #wrap div{width: 50%;}
                #wrap div:last-child{width: 50%;}
                #promotionimg{width: 100; height: 200px;}

            }

            /* 800px이상 : desktop monitor */
            @media all and (min-width: 800px){
                #wrap div{width: 20%;}
                #wrap div:last-child{width: 20%;}
                #inmain #product4{margin-left: 100px;}
                #promotionimg{width: 100; height: 400px;}

            }



/* 백화점과 동일 상품 */
#inmain #sameproduct{width: 100%; height: 350px;  }


/* 상품 8개  */
#inmain #product8{width: 100; height: 730px;}






/* 전체화면 */
/* #mainbody{width: 100%; height: 100%; background-color: wheat;} */

/* 슬라이드뷰1 */
/* #promotionimg{width: 100; height: 400px; background-color: violet;} */

/* 전체화면2 */
/* #inmain{width: 100; height: 2000px; background-color: thistle; margin: 0px 50px;} */

/* 블레스문 스토어 고객님을 위한 혜택 */
/* #inmain #text_egflick{width: 100; height: 35px; background-color: orange;} */

/* 슬라이드뷰2 */
/* #inmain #egflick{width: 100; height: 64px; background-color: orangered;} */

/* 주간베스트, 상품전체 */
/* #inmain .text1{width: 100; height: 62px; background-color: peru;} */

/* 상품 4개  */
/* #inmain #product4{width: 100; height: 600px; background-color: pink;} */


/* #wrap div{
    width: 328px;
    display: inline-block;
    margin: 0px 23px;
    background-color: lightblue;
} */

/* #wrap div:first-child{ background-color: aqua; margin-left: 100px; }
#wrap div:nth-child(2){ background-color: lightgreen;}
#wrap div:nth-child(3){ background-color: orange;}
#wrap div:last-child{ background-color: yellow;}

.bord{text-decoration: none; color: black; background-color: green; float: left; font-size: x-large; width: 100%; font-weight: bold;}
.bordprice{text-decoration: none; color: black; background-color: greenyellow; float: left; font-size: x-large; font-weight: bold;}

.gray{text-decoration: none; color: gainsboro; background-color: hotpink; float: left; font-size: medium;}
.grayprice{text-decoration: none; color: gainsboro; background-color: indigo; float: left; font-size: medium; padding-top: 10px;} */



/* 백화점과 동일 상품 */
/* #inmain #sameproduct{width: 100; height: 350px; background-color: lightcoral; } */


/* 상품 8개  */
/* #inmain #product8{width: 100; height: 730px; background-color: purple;} */