body{
    width: 800px; margin: 0 auto;
    padding: 20px;
}


#page{
    text-align: right;
    
}

#page div button{
    background-color: chartreuse;
    border-color: white;
    margin-right: 10px;
}

#page div button a.n{
    color: white;
    text-decoration: none;
}

#page div a.home{
    text-decoration: none;
    color: #cccccc;
}

div#smaimg ul.imgs{
    list-style: none;
    display: inline;
}
div#smaimg ul.imgs li img{
    padding: 1px;
    float:left;
    
}



