.article{width: 1280px; margin: 0 auto; position: relative;}    
.section{margin-top: 50px;}

.strong{vertical-align: top; width: 110px; height: 25px; margin-top: 5px;}
strong{font-size: 22px; line-height: 24px; font-weight: bold;}

.table{z-index: 0; position: absolute;}
table{
    border-top: 2px solid black;
    border-bottom: 1px dotted black;
    text-align: center;
    margin-top: 10px;
    margin-left: auto; margin-right: auto;
    width: 1280px; height: 120px;
    font-size: 13px;}
table tr{border-bottom: 1px dotted gray; height: 40px;}
table th#th2{ width: auto; text-align: center;}
table th#th3{ width: 150px; text-align: center;}

td{text-align: left;}
#td1{text-align: center;}
td a{color: black; text-decoration: none; display: inline-flex; flex-wrap: row; } 
td a p{margin-left: 4px; height: 5px;}
td a p:hover{color: black; text-decoration: underline;}
td a:hover{color: black;}
td a div{border: 1px solid black; width: 70px; margin-left: 20px; }

.number{width: 34px; height: 34px; background-color: #ff9dc5; line-height: 1.5em; display: block; margin: auto; }
.number a{ color: white;  padding-left: 12px; line-height: 34px;}
.number a:link{text-decoration: none;}

