.article{width: 1280px; margin: 0 auto; position: relative;}    
.section{margin-top: 50px;}

.posi{display: block;  margin-bottom: 10px;}
strong{ line-height: 18px;font-size: 16px; display: inline-block; }
.strong{display: inline-block; padding-right: 1114px;}
.strong span{color: #ea699d; margin-left: 4px; font-size: 16px; }
a{color: black; text-decoration: none; display: inline; font-size: 12px;}
a:hover{color: black;}

.box{border-top: 2px solid black;  border-bottom: 1px dotted black; padding: 25px 0 27px;}
.review{display: inline-flex; flex-wrap: row; margin-top: 10px;}
.review div{border: 1px solid black; height: 25px; font-size: 15px; margin-left: 5px;}
.review strong{margin-left: 10px; font-size: 18px; font-weight: 600;}
.box p{font-size: 13px; color: #888888; margin-left: 5px;}

.day{border: 1px solid #e3e6e9; width: 600px; height: 93; margin: 40px auto; padding: 19px 29px 18px; background-color: #f7f8fa; }
.day #p1{display: inline-block; width: 72; height: 27; font-size: 13px;}
.day #p2{display: inline-block; width: 72; height: 27; font-size: 13px; }
.day #p3{display: inline-block; width: 267; height: 27; font-size: 13px; margin-left: 30px;}
.day #p4{display: inline-block; width: 267; height: 27; font-size: 13px; margin-left: 12px;}

.img{width: 600px; height: 129px; margin: auto;}

.ok{ width: 250px; height: 21px; margin: 100px auto 5px;}
.ok h5{ size: 19px; font-weight: 600;}

.text{ width: 150px; height: 10px; margin: auto;}
.text p{ size: 14px; }

.text2{ width: 550px; height: 10px; margin: 30px auto 10px;}

.text3{ width: 350px; height: 10px; margin: auto;}

