.posi{margin-left:  10px;}

.strong{padding-right: 300px;}

.box{padding-left : 10px; margin-left: 10px; margin-right: 800px; }

.day{margin-left: 50px; width: 400px;}
       
.img{margin-left: 10px;}
img{width: 480px; height: 129px;}

.ok{ width: 250px; height: 21px; margin: 50px 0 5px 145px;}
        
.text{margin-left: 200px;}
        
.text2{ margin-top: 30px; margin-left: 10px; font-size: 15px;}

.text3{ margin-top: 20px; margin-left: 100px;}

