.article{width: 1280px; margin: 0 auto; position: relative;}
.section{margin-top: 50px;}

.first{display: block; }
.strong{display: inline-block; vertical-align: top; width: 88px; height: 25px;}
strong{font-size: 22px; line-height: 24px; font-weight: bold;}

.box{ position: relative; display: inline-block; vertical-align: top; padding-left: 1050px; border-color: white;}    
.allbox{border: 1px solid #e0e0e0; width: 117px;}
.all{padding: 0 23px 0 15px; font-size: 13px; line-height: 34px; text-align: left; border: none; background-color: white;}
.span{top: 14px; right: 16px; position: absolute; width: 10px; height: 5px;
    display: block; border: solid #000;  border-width: 5px 5px 0 5px; border-right-color: transparent; border-left-color: transparent;}     

.list {list-style: none; padding: 0 32px 0 0;   position: absolute; z-index: 1; background-color: white;}
#first{border-top: 2px solid #e0e0e0;}
#last{border-bottom: 2px solid #e0e0e0;}
li{border-left: 2px solid #e0e0e0; border-right:2px solid #e0e0e0 ;}
.list button{
    background-color: white; 
    border: none; 
    text-align: left;
    width: 115px;
    padding: 0 14px;
    line-height: 35px;
    font-size: 13px;
    white-space: nowrap;
    word-wrap: break-word;
    word-break: break-all;
    outline: none;}       
.list button:hover{color:white; background-color: #ea699d;}


.table{z-index: 0; position: absolute;}
table{
    border-top: 2px solid black;
    border-bottom: 1px dotted black;
    text-align: center;
    margin-top: 10px;
    margin-left: auto; margin-right: auto;
    width: 100%; height: 167px;
    font-size: 13px;}
table tr{border-bottom: 1px dotted gray; height: 50px;}
table th#th1{ width: 150px; text-align: center;}
table th#th2{ width: auto; text-align: center;}
table th#th3{ width: 150px; text-align: center;}
table th#th4{ width: 150px; text-align: center;}
td{font-size: 13px;}        
tr td a{text-align: left; text-decoration: none; color: black; display: block; padding-left: 7px;}
td a:hover{text-decoration: underline; color: black;}  
             
        
.number{width: 34px; height: 34px; background-color: #ff9dc5; line-height: 1.5em; display: block; margin: auto; }
.number a{ color: white;  padding-left: 12px; line-height: 34px;}
.number a:link{text-decoration: none;}

.btn-group{width: 1280px; height: 50px;}
.btn-group input{width: 219px; height: 38px; padding: 0 10px; font-size: 14px; vertical-align: top; margin-left: auto;}
.btn-group button {
    background-color: #ff9dc5; padding: 0 26px; 
    height: 38px; font-size: 14ps; line-height: 38px; vertical-align: top;
    border:1px solid rgba(0,0,0,0.1); color: white; margin-right: auto;}
.btn-group button:active{border: 2px solid black;}
       
        



  

