.strong{margin-left: 10px;}
.box{padding-left: 270px;}   

table{ margin-left: 12px; width: 37%; height: 167px;}

table th#th1{ width: 70px; text-align: center;}
table th#th2{ width: auto; text-align: center;}
table th#th3{ width: 70px; text-align: center;}
table th#th4{  width: 70px; text-align: center;}

        
.number{ margin-left: 245px; }

.btn-group input{margin-left: 100px;}

       
        



  

