*{margin: 0 ,auto; padding: 0;  line-height: 1.5em; font-family:Helvetica,'나눔고딕','Nanum Gothic';}
ul{list-style: none;}
a{text-decoration: none;}

body{padding: 10px;}

div#toplogo{
    min-height: 88px;
    padding: 22px 16px;
    color: #222222;
    font-size: 13px;
    text-align: center;
    background: #fff8f8;
    padding: 22px;
    
}

strong.red{
    position: relative;
    display: inline-block;
    margin-bottom: 12px;
    padding-left: 24px;
    color: #ec000e;
    font-size: 16px;
    font-weight: bold;
    vertical-align: middle;
}

div#delivery{
    position: relative;
    padding-bottom: 12px;
    border-bottom: 1px solid #ededed;
    padding: 12px;
    
}

span.seoul{
    display: inline-block;
    margin-left: 8px;
    padding-left: 8px;
    border-left: 1px solid #e1e3e4;
    line-height: 16px;
    font-weight: bold;
    color: #363636;
    vertical-align: top;
    font-size: 12px;
}

div.arrived{
    display: table;
    width: 100%;
    min-height: 142px;
    border-bottom: 1px solid #ededed;
    table-layout: fixed;
    padding: 0px 0px 0px 82px;

}

div.arriveddetail{
    display: table-cell;
    width: 50%;
    padding-left: 82px;
    text-align: center;
    vertical-align: middle;
}

div.today{
 
    display: inline-block;
    margin-bottom: 9px;
    padding: 4px 14px;
    width: 30px;
    border-radius: 12px;
    color: #ffffff;
    font-size: 13px;
    vertical-align: top;
    background-color: var(--color-picker, #fff);
}
div.before{
    position: absolute;
    top: 0;
    bottom: 0;
    left: -1px;
    width: 1px;
    height: 88px;
    margin: auto 0;
    background-color: #ededed;
    content: '';
}

div.arriveddetail2{
    display: table-cell;
    width: 50%;
    vertical-align: middle;
    font-size: 12px;
}



div.after{
    border-top: 1px dashed #ececec;
     display: inline-block; 
     width: 143px;
      margin: 6px 14px 0 19px; 
      vertical-align: top; 
      content:'';
}

div.arriveddetail2 ul li span.count{
    display: inline-block;
    width: 37px;
    text-align: right;
    vertical-align: top;
}

p.month6{
    margin-top: 10px;
    color: #5f5f5f;
    letter-spacing: -0.5px;
    line-height: 16px;
}

table.table1{
    position: relative;
    width: 100%;
    font-size: 12px;
    line-height: 18px;
    border-collapse: collapse;
    table-layout: fixed;
}
th.thscope{
    width: 160px;
    padding: 10px 20px;
    border: solid #ededed;
    border-width: 1px 0;
    background-color: #c0c0c0;
    font-weight: 400;
    color: #333;
    text-align: left;
    box-sizing: border-box;
}
td.tdcolspan{
    padding: 10px 20px;
    border: solid #ededed;
    border-width: 1px 0;
    color: #6e6e6e;
    word-break: break-all;
}

img.img{
    display: block; 
    margin: 0px auto;
    margin-bottom: 20px;
}

#page{width: 1300px; margin: 0 auto;}