*{margin: 0px; padding: 0px;}

body.page{
    padding: 10px;
}


div.menu ul.men{
    margin-top: 2em;
}

div.menu ul.men li.btn{
    display: inline;
    font-size: 12px;
    color: #aaaaaa;
    padding: 2px;
}

div.menu ul.men li.btn:hover{
    color: black;
}

#page{width: 1492px; margin: 0 auto;}